TestBRS/xml-resources/web-service-references/BusReservation/wsdl/localhost_8080/BusReservationSystem/BusReservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://BusReservationSystem/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://BusReservationSystem/" name="BusReservation">
<types>
<xsd:schema>
<xsd:import namespace="http://BusReservationSystem/" schemaLocation="http://localhost:8080/BusReservationSystem/BusReservation?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertReserveInfo">
<part name="parameters" element="tns:InsertReserveInfo"/>
</message>
<message name="InsertReserveInfoResponse">
<part name="parameters" element="tns:InsertReserveInfoResponse"/>
</message>
<message name="getBusInfo">
<part name="parameters" element="tns:getBusInfo"/>
</message>
<message name="getBusInfoResponse">
<part name="parameters" element="tns:getBusInfoResponse"/>
</message>
<message name="getRouteInfo">
<part name="parameters" element="tns:getRouteInfo"/>
</message>
<message name="getRouteInfoResponse">
<part name="parameters" element="tns:getRouteInfoResponse"/>
</message>
<portType name="BusReservation">
<operation name="InsertReserveInfo">
<input wsam:Action="http://BusReservationSystem/BusReservation/InsertReserveInfoRequest" message="tns:InsertReserveInfo"/>
<output wsam:Action="http://BusReservationSystem/BusReservation/InsertReserveInfoResponse" message="tns:InsertReserveInfoResponse"/>
</operation>
<operation name="getBusInfo">
<input wsam:Action="http://BusReservationSystem/BusReservation/getBusInfoRequest" message="tns:getBusInfo"/>
<output wsam:Action="http://BusReservationSystem/BusReservation/getBusInfoResponse" message="tns:getBusInfoResponse"/>
</operation>
<operation name="getRouteInfo">
<input wsam:Action="http://BusReservationSystem/BusReservation/getRouteInfoRequest" message="tns:getRouteInfo"/>
<output wsam:Action="http://BusReservationSystem/BusReservation/getRouteInfoResponse" message="tns:getRouteInfoResponse"/>
</operation>
</portType>
<binding name="BusReservationPortBinding" type="tns:BusReservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertReserveInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBusInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRouteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BusReservation">
<port name="BusReservationPort" binding="tns:BusReservationPortBinding">
<soap:address location="http://localhost:8080/BusReservationSystem/BusReservation"/>
</port>
</service>
</definitions>